
/*GENERAL STYLES START*/
body{background-color: #fafafafd;}
html{scroll-behavior: smooth;}
.container-fluid{max-width: 1920px;}
.card h5{font-family: 'Jura'; font-weight: bold;}
.card P{font-family: 'Abel'; font-size: 17px}
.modal div{background-color: rgba(255, 255, 255, 0.329);}
.special-hr{line-height: 50px;border-style: solid;border-width: 2px;}
.rounded-corners{border-radius: 15px 0px 15px 0px;}
.shadow-effect{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);}
.gallery-image{filter: grayscale(100%); opacity: 0.5;}
/*GENERAL STYLES END*/


/*NAVBAR STYLES START*/
.nav-icon{font-size: 1.5rem; margin-right: 5px;}
.navbar-nav a{font-family: "Jura";}
.navbar-custom-bg{background-color: black;opacity: 0.8;}
.custom-logo, .navbar-brand{
  font-family: "Open Sans";
  font-weight:500;
  padding: 10px;
  background-color: #2AA921;
  color:rgb(241, 241, 241) !important;
  border-radius: 10%;
  }
/*NAVBAR STYLES END*/



/*HERO BANNER STYLES START*/
.banner-hero {
  position: relative;
  background-image: url("../imagenes/heroimage.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: red;
  }

.message-container{
  width: auto;
  height: auto;
  text-align: left;
  border-radius: 10px 0px 0px 10px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30%;
  right: 0%;
  overflow: hidden;
}

.message-container p{
  color: rgba(255, 249, 249, 0.8);
  line-height: 0.8;
  font-family: 'Anton', Courier, monospace;
}
.hero-message-ln1{ font-size: 80px; opacity: 0;}
.hero-message-ln2{font-size: 80px; margin-top: 0; opacity: 0;}
.hero-message-ln3{font-size: 40px; margin-top: 0;}
.name-style{color: #73c553;}
.message-2nd-line{font-size: 15px; margin-top: 40px}
/*HERO BANNER STYLES END*/


/*MY PHOTO STYLES START*/
.photo-container{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.photo{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: relative;
}

.photo-contact{
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
/*MY PHOTO STYLES END*/


/*ABOUT ME SECTION STYLES START*/
.about-me{
  padding: 5px 0px 5px 0px;
  position: relative;
  background-color: rgba(233, 230, 230, 0.89);
  height: auto;
}

.about-me-text{
  font-family: "Abel";
  text-align:justify;
  font-size: 20px;
  opacity: 0;
}

.about-row{text-align: justify; width: 100%;}
.about-knowledge-wrapper{width: 100%; margin-top: 2%;}
.tech-info-title{margin-left: 10px; font-size: 20px; font-family: 'Jura';}
.knowledge-card{background-color:#7773660d;}
.tech-info h3, h4{font-family: 'Jura';font-weight: bold;color:#3f3c3c;}
.tech-info p{font-family: 'Jura';}
/*ABOUT ME SECTION STYLES START*/


  .side-tittle-aboutme{
    font-family: 'Jura', Courier, monospace;
    opacity: 0;
    text-align: center;
    color: white;
    background-color:  #2AA921;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    padding: 2px;
    position: absolute;
    right: 0px;
    margin: 0px;
  }

  .side-tittle-projects{
    font-family: 'Jura', Courier, monospace;
    opacity: 0;
    text-align: center;
    color: rgb(231, 225, 225);
    background-color:  #2AA921;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    padding: 2px;
    position: absolute;
    left: 0px;
    margin: 0px;
  }

  .side-tittle-contact{
    font-family: 'Jura', Courier, monospace;
    opacity: 0;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color:  #2AA921;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    writing-mode: vertical-rl;
    padding: 2px;
    position: absolute;
    right: 0px;
    margin: 0px;
  }

/*ABOUT MY PROJECTS SECTION STYLES START*/
  .about-projects-wrapper{
    background-color:#282626;
    padding-left: 0%;
    padding-right: 0%;
    height: 100%;
    padding-bottom: 15px;
  }

  .projects-focus1, .projects-focus2,.projects-focus3{opacity: 0;}
  
  .projects-header{
    display: flex;
    height: auto;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .projects-header-text{
    color: rgb(248, 248, 248);
    font-family: 'Cormorant Unicase', Courier, monospace;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1;
    margin-bottom:-5px;
  }

  .centered-text-container{
    opacity: 0;
    width: 50%;
    margin:auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .project-details-title{
    font-family: 'Jura';
    font-size: 2rem;
  }
  .project-details h1{
    font-family: 'Jura';
    font-weight: bold;
    font-size: 2rem;
  }

  .project-details h2{
    font-family: 'Jura';
    font-weight: bold;
    font-size: 1.3rem;
  }
  .project-details p{
    font-family: 'Abel';
    text-align: justify;
  }

  .projects-section-icon{
    height: 50px;
    width: 100px;
  }
  .projects-col-text{
    font-family: 'Abel';
    margin-top: 8px;
    color:#f5f6f3;
    text-align:justify;
    word-wrap: break-word;
  }

  .project-img{
    width: 50%;
    height: 50%;
    border-radius: 5px 5px 5px 5px;
  }

  .details-close-btn{
    display: block;
    float: right;
  }
/*ABOUT MY PROJECTS STYLES END*/


/*CONTACT STYLES START*/
.contact-wrapper{position: relative;}

.mobile-alt-tittle{
  display: none;
  visibility: hidden;
  }
.contact-header-text{
  position:absolute;
  left: 15%;
  bottom: 20%;
  transform: translate(-50% -50%);
  color: rgb(248, 248, 248);
  font-family: 'Cormorant Unicase', Courier, monospace;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1;
}
.special-container{
  position: relative;
  width: 100%;

  font-size: 20px;
  color: #FFF;
  background: #282626;
  z-index: 1;
  
}
.special-container:after{
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #282626;
  transform-origin: bottom left;
  transform: skew(-20deg, 0deg);
}
.contact-details-wrapper{ width: -moz-fit-content; width: fit-content; margin: auto;}
.contact-details-wrapper p{text-align: left;}
.contact-name, .contact-location, .contact-email, .contact-phone{opacity: 0;}
.contact-icon{font-size: 1.5rem; margin-right: 0.8rem;}
/*CONTACT STYLES END*/



/*///////////////////////////////////////////////MEDIA QUERIES/////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////*/

  @media (min-width: 320px) { 
    /*.navbar-custom-bg{background-color: rgb(218, 44, 209);}*/
    .banner-hero {height: 250px;}
    .message-container{padding: 5px; top: 35%;}
    .hero-message-ln1{font-size: 40px;}
    .hero-message-ln2{font-size: 40px;margin-top: -10px;}
    .hero-message-ln3{font-size: 12px;margin-top: -10px;}
    .photo{width: 100px;height: 100px;}
    .about-row{margin-top: 5%; }
    .side-tittle-aboutme{
      margin-top: 60px;
      border-radius: 0px 10px 10px 0px;
      position: static;
      text-align: start;
      -webkit-text-orientation: initial;
      text-orientation: initial;
      writing-mode:initial;
      width: 30%;
      height: auto;
      font-size: 18px;
    }
    .about-me-text {font-size: 17px;}
    .techbtn{font-size: 14px !important; padding: 4px !important;}
    .tech-info p{font-size: 12px;}
    .tech-info h3{font-size: 17px;}
    .tech-info h4{font-size: 13px;}
    .side-tittle-projects{
      display:block;
      border-radius: 0px 10px 10px 0px;
      position: static;
      text-align: start;
      -webkit-text-orientation: initial;
      text-orientation: initial;
      writing-mode:initial;
      height: auto;
      width: 35%;
      font-size: 18px;
    }
    .side-tittle-contact{
      display: none;
      visibility: hidden;
      border-radius: 0px 10px 10px 0px;
      position: static;
      text-align: start;
      -webkit-text-orientation: initial;
      text-orientation: initial;
      writing-mode:initial;
      height: auto;
      font-size: 18px;
    }
    .projects-header-text{
      font-size: 20px;
      position: static;
    }
    .project-details{padding: 8px 8px 8px 8px !important;}
    .project-details h1{font-size: 20px;}
    .project-details h2{font-size: 16px;}
    .project-details p{font-size: 17px;}
    .project-img{width: 35%; height: 35%;}
    .special-container{
      position: static;
      padding-bottom: 20px;
      width: 100%;
    }
    .special-container:after{
      content: "";
      visibility: hidden;
      display: none;
    }
    .contact-header-text{
      text-align: center;
      margin: 0px;
      position: static;
      font-size: 20px;
    }
    .centered-text-container{
      width: -moz-fit-content;
      width:fit-content; 
      margin-top: 20px; 
      padding: 10px;
      text-align: center;
    }
    .mobile-alt-tittle{
      display:block;
      visibility: visible;
      padding: 2px 10px 2px 1px;
      width: 35%;
    }

    .contact-details-wrapper p {font-size: 14px ; font-family: "Abel";}
    .contact-details-wrapper i {font-size: 22px;}
 }
 @media (min-width: 576px) { 
    .navbar-custom-bg{background-color: rgb(218, 44, 44);}
    .banner-hero {height: 450px;}
    .photo{width: 125px; height: 125px;}
    .side-tittle-aboutme, .side-tittle-projects, .side-tittle-contact{font-size:22px ;}
    .about-me-text{font-size: 18px;}
    .tech-info p {font-size: 15px;}
    .tech-info h3{font-size: 18px;}
    .tech-info h4{font-size: 15px;}
    .projects-header-text, .contact-header-text{font-size: 26px;}
    .project-details h1{font-size: 19px;}
    .project-details h2{font-size: 17px;}
    .project-details p{font-size: 17px;}
    .project-img{width: 25%; height: 25%;}
    .message-container{padding: 20px;}
    .hero-message-ln1{font-size: 60px;}
    .hero-message-ln2{font-size: 60px; margin-top: 0;}
    .hero-message-ln3{font-size: 20px; margin-top: -10px;}
 }

@media (min-width: 768px) {
    .navbar-custom-bg{background-color: rgb(44, 218, 44);}
    .banner-hero{height: 525px;}
    .projects-header-text, .contact-header-text{font-size: 29px;}
    .hero-message-ln1{font-size: 80px;}
    .hero-message-ln2{font-size: 80px; margin-top: 0;}
    .hero-message-ln3{font-size: 20px; margin-top: -10px;}
    .tech-info h3{font-size: 20px;}
    .tech-info h4{font-size: 18px;}
    .project-details p{font-size: 19px;}
 }

@media (min-width: 992px) { 
    .navbar-custom-bg{background-color: rgb(155, 168, 36);}
    .banner-hero{height: 650px; }
    .hero-message-ln1{font-size: 100px;}
    .hero-message-ln2{ font-size: 100px; margin-top: 0;}
    .hero-message-ln3{font-size: 30px; margin-top: -10px;}
    .photo{width: 150px;height: 150px;}
    .about-row{margin-top: 1%;}
    .about-me-text{
      padding-left: initial;
      padding-right: initial;
      font-size: 19px;
    }
    .tech-info p {font-size: 18px;}
    .side-tittle-aboutme{
      margin-top: 0%;
      padding: 10px;
      text-align: center;
      border-radius: 0px 0px 10px 10px;
      position: absolute;
      left: initial;
      top: 0%;
      -webkit-text-orientation: mixed;
      text-orientation: mixed;
      writing-mode: vertical-lr;
      height: auto;
      width: auto;
      font-size: 24px;
  }
    .side-tittle-projects{
      font-size: 24px;
      border-radius: 0px 10px 10px 0px;
      text-align: center;
      -webkit-text-orientation: mixed;
      text-orientation: mixed;
      writing-mode: vertical-rl;
      padding: 10px;
      position: absolute;
      left: 0px;
      top: 0px;
      margin: 0px;
      width: auto;
      height: auto;
  }
    .side-tittle-contact{
      visibility: visible;
      display: block;
      border-radius: 0px 0px 10px 10px;
      font-size: 24px;
      text-align: center;
      -webkit-text-orientation: mixed;
      text-orientation: mixed;
      writing-mode: vertical-rl;
      padding: 10px;
      position: absolute;
      right: 0px;
      margin: 0px;
      width: auto;
      height: auto;
  }
    .mobile-alt-tittle{visibility: hidden;display: none;}
    .special-container{
      display: flex;
      justify-content: center;
      position: relative;
      padding: 0px;
      width: 100%;
  }
    .special-container:after{
      content: "";
      visibility: visible;
      display: block;
  }
    .about-row{margin-top: 8%;}
    .about-projects-wrapper{position: relative;padding: 60px;}
    .project-img{width: 25%; height: 25%;}
    .projects-header-text, .contact-header-text{font-size: 30px;}
    .projects-col-text{font-size: 18px;}
    .project-details{padding: 15px 15px 15px 15px !important;}
    .project-details h1{font-size: 25px;}
    .project-details h2{font-size: 19px;}
    .project-details p{ font-size: 20px;}
    .project-details-icon{font-size: 28px;}
    .centered-text-container{
      width: -moz-fit-content;
      width: fit-content;
      margin:auto;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .contact-details-wrapper p {font-size: 18px ;}

 }
@media (min-width: 1200px) { 
    .navbar-custom-bg{background-color: rgb(0, 0, 0);}
    .banner-hero{height: 900px;}
    .message-container{top: 30%;right: 0%;}
    .hero-message-ln1{font-size: 120px;}
    .hero-message-ln2{font-size: 120px; margin-top: 0px;}
    .hero-message-ln3{font-size: 30px; margin-top: -10px;}
    .photo{width: 200px;height: 200px;}
    .about-me-text{font-size: 20px;}
    .about-row{ top: 5%;}
 }